
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img src="../../assets/media/backend.png" alt="Logo">
    </a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a routerLink="">Inicio</a>
        </li>
        <li class="nav-item">
          <a routerLink="/cursos">Cursos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/profesores">Profesores</a>
        </li>
        <li class="nav-item">
          <a routerLink="/alumnos">Alumnos</a>
        </li>
        <li class="nav-item">
          <a routerLink="/tareas">Tareas</a>
        </li>
      </ul>
      <div class="header-login">
        <form action="/login" method="post">
          <input type="text" name="username" placeholder="Usuario">
          <input type="password" name="password" placeholder="Contraseña">
          <button type="submit">Iniciar sesión</button>
        </form>
      </div>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>



<!-- 
  <header>
  <div class="container">
    <div class="header-logo">
      <img src="assets/images/logo.png" alt="Logo">
    </div>
    <div class="header-nav">
      <nav>
        <ul>
          <li><a routerLink="">Inicio</a></li>
          <li><a routerLink="/cursos">Cursos</a></li>
          <li><a routerLink="/profesores">Profesores</a></li>
          <li><a routerLink="/alumnos">Alumnos</a></li>
          <li><a routerLink="/tareas">Tareas</a></li>
        </ul>
      </nav>
    </div>                  
    <div class="header-login">
      <form action="/login" method="post">
        <input type="text" name="username" placeholder="Usuario">
        <input type="password" name="password" placeholder="Contraseña">
        <button type="submit">Iniciar sesión</button>
      </form>
    </div>
  </div>
</header> 
-->
