<footer>
  <div class="container">
    <div class="footer-logo">
      
    </div>
    <div class="footer-social-media">
      <img src="../../assets/media/backend.png" alt="Logo">
      <a href="https://www.facebook.com/" target="_blank"><img src="../../assets/media/Logo_de_Facebook.png" alt="Facebook"></a>
      <a href="https://twitter.com/" target="_blank"><img src="../../assets/media/twiiter.png" alt="Twitter"></a>
      <a href="https://instagram.com/" target="_blank"><img src="../../assets/media/instagram.png" alt="Instagram"></a>
      <a href="https://youtube.com/" target="_blank"><img src="../../assets/media/Youtube.png" alt="YouTube"></a>
    </div>
  </div>
</footer>
