.footer {
  background-color: #fff;
  color: #00214A;
  font-family: sans-serif;
  padding: 10px;
}

.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.footer-social-media a {
  display: block;
  margin-right: 10px;
}
