<div id="temarioProgreso">
    <h1></h1>

    <p>{{ descripcion }}</p>
  
    <h2>Temario:</h2>
    <ul>
      <li *ngFor="let tema of temario">
        {{ tema }}
      </li>
    </ul>
  
    <p>Progreso: {{ progreso }}%</p>
  
    <button (click)="iniciarCurso()">Iniciar Curso</button>
</div>

<div>
  <button (click)="cambiarTitulo()">Cambiar Titulo</button>
  <div class="galeria">
    <img src="{{imagen+1}}" alt="Imagen de muestra">
    <img src="{{imagen}}+imagen2.jpg" alt="Imagen de muestra">
    <img src="{{imagen+3}}" alt="Imagen de muestra">
    <img src="{{imagen+4}}" alt="Imagen de muestra">
    <img src="{{imagen+5}}" alt="Imagen de muestra">
  </div>
</div>
