*{
    /* background-color: lightgoldenrodyellow; */
    padding: 12px;
}

#temarioProgreso{
    background-color: #04BBEC;

}

.galeria{
    background-color: lightblue;
    margin-top: 18px;
}

.galeria img{
    height: 250px;
}
