<header>
  <app-header></app-header>
</header>

<div>
    <ul>
        <li><a href=""></a></li>
        <li><a routerLink="">Inicio</a></li>
        <li><a routerLink="/alumnos">Alumnos</a></li>
        <li><a routerLink="/profesores">Profesores</a></li>
        <li><a routerLink="/cursos">Curso</a></li>
        <li><a routerLink="/app-formulario-acceso">Acceso</a></li>
    </ul>
</div>

<router-outlet></router-outlet>
<ng-template>
    <app-profesor></app-profesor>
    <app-profesores></app-profesores>
    <app-alumno></app-alumno>
    <app-alumnos></app-alumnos>
    <app-curso></app-curso>
    <app-cursos></app-cursos>
    <app-formulario-acceso></app-formulario-acceso>
    <app-formulario-consulta></app-formulario-consulta>
</ng-template>

<footer>
  <app-footer></app-footer>
</footer>



