*{

    background-color: #f2f2f2;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

}

#alumnosContainer{
    height: 30vh;

}

#alumnoalumnosContainer h1{
    font-size: 25px;

}

#alumnoalumnosContainer .alumnoFicha {
    width: 300px;
    background-color: #f2f2f2;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos para el nombre del alumno */
  .alumno-ficha .nombrelumno {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  /* Estilos para la información del alumno */
  .alumno-ficha .info {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Estilos para el número de identificación del alumno */
  .alumno-ficha .identificacion {
    font-size: 14px;
    color: #888888;
  }
  
  /* Estilos para la foto del alumno */
  .alumno-ficha .foto {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 10px;
  }
  
  /* Estilos para el botón de editar */
  .alumno-ficha .editar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* Estilos para el botón de eliminar */
  .alumno-ficha .eliminar {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
  } */