<mat-card class="exaple-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Ficha de los Alumnos del centro</mat-card-title>
    <mat-card-subtitle>Alumnos</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
    <!-- 
    <div *ngFor="let alumnos of alumnosAll">
      <img [src]="alumnos.fotoA" alt="Foto del alumno">

      <h3 class="nombreAlumnos">{{ alumnos.nombreA }} {{ alumnos.apellidoA}}</h3>
      <p class="atributosAlumnos">Edad: {{alumnos.edadA}}</p>
      <p class="atributosAlumnos">Correo: {{ alumnos.correoA }}</p>
      <p class="atributosAlumnos">Teléfono: {{ alumnos.telefonoA}}</p>
      <p class="atributosAlumnos">Estado: {{ alumnos.estadoA ? 'Activo' : 'Inactivo' }}</p>
    </div> 
   -->
    <ul>
      <!-- 
      <li *ngFor="let listado of alumnosAll">
        {{listado.nombreA}}-{{listado.apellidoA}}
        <span *ngif="listado.estadoA != false">MATRICULADO</span>
      </li> 
    -->
    </ul>
    <p>La nota media final es:</p>

    <!-- 
      <ul [ngSwitch]="notasAlumnos"> 
        -->
    <ul []="notasAlumnos">
      <li *nSwitchCase="5">Aprobado</li>
      <li *nSwitchCase="4">No Aprobado</li>
      <li *nSwitchCase="7">Aprobado</li>
    </ul>


  </mat-card-content>
  <mat-card-actions>
    <button mat-button>Editar</button>
    <button mat-button>Eliminar</button>
  </mat-card-actions>
</mat-card>


<!-- 
<div class="my-grid my-card">
  <div id="alumnosContainer">

      <div class="alumnoFicha">
        <h1 class="alumnoEnunciado">Ficha de los Alumnos del centro</h1>

        <div *ngFor="let alumnos of alumnosAll">
          <img [src]="alumnos.fotoA" alt="Foto del alumno">

          <h3 class="nombreAlumnos">{{ alumnos.nombreA }} {{ alumnos.apellidoA}}</h3>
          <p class="atributosAlumnos">Edad: {{alumnos.edadA}}</p>
          <p class="atributosAlumnos">Correo: {{ alumnos.correoA }}</p>
          <p class="atributosAlumnos">Teléfono: {{ alumnos.telefonoA}}</p>
          <p class="atributosAlumnos">Estado: {{ alumnos.estadoA ? 'Activo' : 'Inactivo' }}</p>

        </div>

      </div>

      <ul>
          <li *ngFor="let listado of alumnosAll">
            {{listado.nombreA}}-{{listado.apellidoA}}
            <span *ngif="listado.estadoA != false">MATRICULADO</span>
          </li>
      </ul>
        <p>La nota media final es:</p>

        <ul [ngSwitch]="notasAlumnos">
          <li *nSwitchCase="5">Aprobado</li>
          <li *nSwitchCase="4">No Aprobado</li>
          <li *nSwitchCase="7">Aprobado</li>
        </ul>



      <button class="editar">Editar</button>
      <button class="eliminar">Eliminar</button>
  </div>
</div> -->
