<div>
    <h1>Ficha de los Alumnos del centro</h1>
    <ul>
        <li *ngFor="let listado of alumnosAll">
          {{listado.nombreA}}-{{listado.apellidoA}}
          <span *ngif="listado.estadoA != false">MATRICULADO</span>
        </li>
      </ul>
      <p>La nota media final es:</p>

      <ul [ngSwitch]="notasAlumnos">
        <li *nSwitchCase="5">Aprobado</li>
        <li *nSwitchCase="4">No Aprobado</li>
        <li *nSwitchCase="7">Aprobado</li>
      </ul>

    <p></p>

    <button></button>
</div>