<div>
    <form>
        <label for="codigo">Código:</label>
        <input type="number" name="codigo" id="codigo"/>

        <label for="nombre">Nombre:</label>
        <input type="text" name="nombre" id="nombre" placeholder="Nombre"/>

        <label for="apellidos">Apellidos:</label>
        <input type="text" name="apellidos" id="apellidos"/>

        <label for="correoElectronico">Correo Electrónico:</label>
        <input type="email" name="correoElectonico" id="correoElectronico"/>

        <label for="edad">Edad:</label>
        <input type="number" name="edad" id="edad">

        <input type="submit" value="Registrar">
    </form>
</div>
    
   
