<div>

    <p>Profesor del Curso</p>
    <h2>{{nombreProfesor}}</h2>
    <img src="{{fotoProfesor}}" alt="Foto del profesor" width="100px">

    <h1>{{nombreCurso}}</h1>
    <ul>
        <li>{{duracion}}</li>
        <li>{{temarioCurso}}</li>
        <li>{{descripcion}}</li>
    </ul>

    <h2>Alumnos del Curso</h2>
    <ul>
        <li *ngFor="let listado of alumnosAll">
            {{listado.nombreA}}--{{listado.apellidoA}}

        </li>
    </ul>
<!-- <button (click)="iniciarCurso()">Iniciar Curso</button> -->


</div>
